*{
                    margin: 0%;
                }
                header{
                    width: 100%;
                    height: 150px;
                    background-color: rgb(19, 19, 114);
                    color: bisque;
                    text-align: center;
                    
                }
                .bod{
                    overflow: hidden;
                }
                .lft_cont{
                    width: 20%;
                    height: 600px;
                    background-color: rgb(22, 22, 197);
                    color: bisque;
                    text-align: center;
                    float: left;
                }
                .middle_cont{
                    width: 60%;
                    height: 600px;
                    background-color: rgb(65, 65, 218);
                    color: bisque;
                    text-align: center;
                    float: left;
                
                }
                .rght_cont{
                    width: 20%;
                    height: 600px;
                    background-color: rgb(22, 22, 197);
                    color: bisque;
                    text-align: center;
                    float: left;
                
                }
                .pre_bod{
                    width: 100%;
                    height: 20%;
                    background-color: rgb(95, 95, 236);
                    text-align: center;
                    
                }
                .bod_cont{
                    width: 100%;
                    height: 60%;
                    background-color: rgb(65, 65, 218);
                    color: bisque;
                    text-align: center;
                
                
                }
                .post_cont{
                    width: 100%;
                    height: 20%;
                    background-color: rgb(95, 95, 236);
                    text-align: center;
                }
                footer{
                    width: 100%;
                    height: 70px;
                    background-color: rgb(21, 21, 108);
                    color: bisque;
                    text-align: center;
                    
                }